<div class='box box-form'>
  <div class='container'>
    <div class='col-md-4 col-md-offset-4'>
      <div class='box-header'>
        <h1><%= link_to "#{image_tag 'logo6.png'}".html_safe, root_path %></h1>
      </div>
      <div class='box-content'>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class='form-group'>
            <label>Username</label>
            <%= f.text_field :username, class: "form-control", required: true %>
          </div>
          <div class='form-group'>
            <label>Email</label>
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>
          <div class='form-group'>
            <label>Password</label>
            <%= f.password_field :password, class: "form-control", required: true %>
          </div>
          <div class='form-group'>
            <label>Password Confirmation</label>
            <%= f.password_field :password_confirmation, class: "form-control", required: true %>
          </div>
          <div class='button'>
            <%= f.submit "SignUp", class: "btn btn-login btn-success" %>
          </div>
          <div class="form-group">
            <div class="pull-left">
              Already have account? <%= link_to 'SignIn', new_user_session_path %>
            </div>
            <div class="pull-right">
              <%= link_to 'Forgot Password?', new_user_password_path %>
            </div>
          </div>
        <% end %>
        <%= link_to user_facebook_omniauth_authorize_path do %>
          <button class='btn btn-login btn-primary'>
            <i class='fa fa-facebook' aria-hidden='true'></i> SignIn With Facebook
          </button>
        <% end %>
        <%= link_to user_google_oauth2_omniauth_authorize_path do %>
          <button class='btn btn-login btn-danger'>
            <i class='fa fa-google-plus' aria-hidden='true'></i> SignIn With Gmail
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>





