.row
  .col-md-6
    %h6 Favicon
    .thumb
      = image_tag(@web_setting.favicon.url(:thumb))
    = f.file_field :favicon
    = f.hidden_field :favicon_cache
  .col-md-6
    %h6 Logo
    .thumb
      = image_tag(@web_setting.logo.url(:thumb))
    = f.file_field :logo
    = f.hidden_field :logo_cache
  .col-md-6
    %h6 Twitter
    = f.text_field :twitter, class: 'form-control', required: true
  .col-md-6
    %h6 Facebook
    = f.text_field :facebook, class: 'form-control', required: true
  .col-md-6
    %h6 Header Tags
    = f.text_field :header_tags, class: 'form-control', required: true
  .col-md-6
    %h6 Footer Tags
    = f.text_field :footer_tags, class: 'form-control', required: true
  .col-md-6
    %h6 Contact
    = f.text_field :contact, class: 'form-control', required: true
  .col-md-6
    %h6 Email
    = f.text_field :email, class: 'form-control', required: true
  .col-md-12
    %h6 Address
    = f.text_area :address, class: 'form-control', required: true
  .col-md-6
    %h6 Longitude
    = f.text_field :longitude, class: 'form-control'
  .col-md-6
    %h6 Latitude
    = f.text_field :latitude, class: 'form-control'
.break
.row
  .col-md-12
    %h3 Setting SEO (<em>Search Engine Optimation</em>)
    %hr
    .row
      .col-md-6
        %h6 Title
        = f.text_field :title, class: 'form-control', required: true
      .col-md-6
        %h6 Author
        = f.text_field :author, class: 'form-control', placeholder: 'author project'
      .col-md-12
        %h6 Keyword
        = f.text_field :keywords, class: 'form-control', required: true
      .col-md-12
        %h6 Description
        = f.cktext_area :description, class: 'form-control', required: true
      .col-md-12
        %br
        = f.submit :save, class: 'btn btn-info'
