.box
  .box-header
    %b
      Data #{params[:controller].split('/')[1]}
      = link_to 'Create New', new_backend_web_setting_path, class: 'btn btn-info btn-xs pull-right'
  .box-body.table-responsive
    %table.table.table-hover
      %tr
        %th{width: '55%'}
          Title
        %th Created At
        %th{width: '15%'}
          Action
      - @web_settings.each do |resource|
        %tr
          %td
            = resource.title
          %td
            = resource.created_at.strftime("%I:%M %B, %d, %Y")
          %th
            = link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_backend_web_setting_path(resource)

