.box
  .box-header
    %b
      = params[:action]
      = link_to 'Back To List', backend_web_settings_path, class: 'btn btn-info btn-xs pull-right'
    %hr
  .box-body.table-responsive
    = form_for @web_setting, url: backend_web_settings_path, method: 'post' do |f|
      = render 'form', f: f
