%h4.titleize FEATURED       
%ul.latest-list-full
  - @featured_videos.each_with_index do |v, index|
    %li
      = link_to video_path(v) do
        .cover
          - cache ["cover_video__featured_#{v.id}_#{v.updated_at.to_time.to_i}"] do
            = image_tag v.cover_image.url(:small)
        .category #{v.type_video.titleize if v.type_video.present?}
        .title #{v.title}
        %small.view-eye
          %i.fa.fa-eye
          #{v.impressionist_count} Views