%meta{'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge,IE=9,IE=8,chrome=1"}
%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"}
%meta{name: "apple-mobile-web-app-capable", content: "yes"}
%meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}
%meta{:content => "542f9b74e6", :name => "verify-admitad"}
= favicon_link_tag "#{web_setting.favicon.url}"

- if params[:controller] == 'videos' && params[:action] == 'show'
  - @title = @video.title
  - @url = video_url(@video)
  %title
    = @title
  %meta{name: "keywords", content: "#{@title}"}
  %meta{name: "description", content: "#{@video.description}"}
  %meta{name: "author", content: "sovies-series.com"}
  %meta{'property'=>"og:title", 'content'=>"#{@title}"}
  %meta{'property'=>"og:type", 'content'=>"website"}
  %meta{'property'=>"og:site_name", 'content'=>"#{@url}"}
  %meta{'property'=>"og:url", 'content'=>"#{@url}"}
  %meta{'property'=>"og:image", 'content'=>"#{image_url @video.cover_image.url(:medium)}"}
  %meta{'property'=>"og:description", 'content'=>"#{strip_tags(@video.description) if @video.description.present?}"}
  %meta{'property'=>"article:publisher", 'content'=>"movies-series"}
  %meta{'name'=>"twitter:card", 'content'=>"summary"}
  %meta{'name'=>"twitter:url", 'content'=>"#{@url}"}
  %meta{'name'=>"twitter:title", 'content'=>"#{@title}"}
  %meta{'name'=>"twitter:description", 'content'=>"#{strip_tags(@video.description) if @video.description.present?}"}
  %meta{'name'=>"twitter:creator", 'content'=>"sovies-series.com"}
  %meta{'name'=>"twitter:image:src", 'content'=>"#{image_url @video.cover_image.url(:medium)}"}
- elsif params[:controller] == 'videos' && params[:action] == 'episode'
  - @title = @episode.title
  - @url = episode_videos_url(episode: @episode)
  %title
    = @title
  %meta{name: "keywords", content: "#{@title}"}
  %meta{name: "description", content: "#{@video.description}"}
  %meta{name: "author", content: "sovies-series.com"}
  %meta{'property'=>"og:title", 'content'=>"#{@title}"}
  %meta{'property'=>"og:type", 'content'=>"website"}
  %meta{'property'=>"og:site_name", 'content'=>"#{@url}"}
  %meta{'property'=>"og:url", 'content'=>"#{@url}"}
  - if @episode.cover_image.blank?
    %meta{'property'=>"og:image", 'content'=>"#{image_url @video.cover_image.url(:medium)}"}
  - else
    %meta{'property'=>"og:image", 'content'=>"#{image_url @episode.cover_image.url(:medium)}"}  
  %meta{'property'=>"og:description", 'content'=>"#{strip_tags(@video.description) if @video.description.present?}"}
  %meta{'property'=>"article:publisher", 'content'=>"movies-series"}
  %meta{'name'=>"twitter:card", 'content'=>"summary"}
  %meta{'name'=>"twitter:url", 'content'=>"#{@url}"}
  %meta{'name'=>"twitter:title", 'content'=>"#{@title}"}
  %meta{'name'=>"twitter:description", 'content'=>"#{strip_tags(@video.description) if @video.description.present?}"}
  %meta{'name'=>"twitter:creator", 'content'=>"sovies-series.com"}
  - if @episode.cover_image.blank?
    %meta{'name'=>"twitter:image:src", 'content'=>"#{image_url @video.cover_image.url(:medium)}"}
  - else
    %meta{'name'=>"twitter:image:src", 'content'=>"#{image_url @episode.cover_image.url(:medium)}"}
- elsif params[:controller] == 'videos' && params[:action] == 'index'
  - @title = @category_video.name
  - @url = videos_url(category: @category_video)
  %title
    = @title
  %meta{name: "keywords", content: "#{@title}"}
  %meta{name: "description", content: "#{@category_video.description}"}
  %meta{name: "author", content: "sovies-series.com"}
  %meta{'property'=>"og:title", 'content'=>"#{@title}"}
  %meta{'property'=>"og:type", 'content'=>"website"}
  %meta{'property'=>"og:site_name", 'content'=>"#{@url}"}
  %meta{'property'=>"og:url", 'content'=>"#{@url}"}
  %meta{'property'=>"og:image", 'content'=>"#{image_url @category_video.cover_image.url(:medium)}"}
  %meta{'property'=>"og:description", 'content'=>"#{strip_tags(@category_video.description) if @category_video.description.present?}"}
  %meta{'property'=>"article:publisher", 'content'=>"movies-series"}
  %meta{'name'=>"twitter:card", 'content'=>"summary"}
  %meta{'name'=>"twitter:url", 'content'=>"#{@url}"}
  %meta{'name'=>"twitter:title", 'content'=>"#{@title}"}
  %meta{'name'=>"twitter:description", 'content'=>"#{strip_tags(@category_video.description) if @category_video.description.present?}"}
  %meta{'name'=>"twitter:creator", 'content'=>"sovies-series.com"}
  %meta{'name'=>"twitter:image:src", 'content'=>"#{image_url @category_video.cover_image.url(:medium)}"}
- else
  - @title = web_setting.title
  - @url = root_url
  %title
    = @title
  %meta{name: "keywords", content: "#{web_setting.keywords}"}
  %meta{name: "description", content: "#{web_setting.description}"}
  %meta{name: "author", content: "sovies-series.com"}
  %meta{'property'=>"og:title", 'content'=>"#{@title}"}
  %meta{'property'=>"og:type", 'content'=>"website"}
  %meta{'property'=>"og:site_name", 'content'=>"#{@url}"}
  %meta{'property'=>"og:url", 'content'=>"#{@url}"}
  %meta{'property'=>"og:image", 'content'=>"#{image_url web_setting.logo.url}"}
  %meta{'property'=>"og:description", 'content'=>"#{strip_tags(web_setting.description) if web_setting.description.present?}"}
  %meta{'property'=>"article:publisher", 'content'=>"movies-series"}
  %meta{'name'=>"twitter:card", 'content'=>"summary"}
  %meta{'name'=>"twitter:url", 'content'=>"#{@url}"}
  %meta{'name'=>"twitter:title", 'content'=>"#{@title}"}
  %meta{'name'=>"twitter:description", 'content'=>"#{strip_tags(web_setting.description) if web_setting.description.present?}"}
  %meta{'name'=>"twitter:creator", 'content'=>"sovies-series.com"}
  %meta{'name'=>"twitter:image:src", 'content'=>"#{image_url web_setting.logo.url}"}

%meta{ 'content'=>'true', 'name'=>'MSSmartTagsPreventParsing'}
%meta{ 'content'=>'text/html; charset=UTF-8', 'http-equiv'=>'Content-Type'}
%meta{ 'content'=>'index, follow', 'name'=>'googlebot'}
%meta{ 'content'=>'follow, all', 'name'=>'Googlebot-Image'}
%meta{ 'content'=>'follow, all', 'name'=>'msnbot'}
%meta{ 'content'=>'follow, all', 'name'=>'Slurp'}
%meta{ 'content'=>'follow, all', 'name'=>'ZyBorg'}
%meta{ 'content'=>'follow, all', 'name'=>'Scooter'}
%meta{ 'content'=>'all', 'name'=>'spiders'}
%meta{ 'content'=>'all', 'name'=>'WEBCRAWLERS'}
%meta{ 'content'=>'noodp', 'name'=>'robots'}
%meta{ 'content'=>'noydir', 'name'=>'robots'}
%meta{ 'content'=>"#{web_setting.keywords}", 'name'=>'search engines'}