.navbar-top
  %ul.left
    %li.only-responsive
      %a.button-nav-side{href: '#'}
        %i.fa.fa-bars
    %li.li-brand
      = link_to "#{image_tag 'logo6.png'}".html_safe, root_path
    %li.li-search-form
      = form_for :search, url: results_videos_path(params), method: 'get', html:{class: 'search-form'} do |f|
        .form-group.has-feedback
          %label.sr-only Search
          = text_field_tag :key, params[:key], class: 'form-control', placeholder: "Search"
          %span.glyphicon.glyphicon-search.form-control-feedback

  %ul.right
    - if current_user.present?
      %li
        = link_to 'LogOut', destroy_user_session_path, method: 'delete'
      %li.dropdown-toggle#dropdownMenu1{'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false"}
        %a.thumb-avatar{href: '#'}
          #{image_tag current_user.avatar.url(:thumb), class: 'img-circle'} #{current_user.username} &nbsp; <i class="fa fa-caret-down" aria-hidden="true"></i>
      .dropdown
        %ul.dropdown-menu{'aria-labelledby' => "dropdownMenu1"}
          %li
            = link_to '<i class="fa fa-globe" aria-hidden="true"></i> Dashboard'.html_safe, userpage_dashboard_path
          %li
            = link_to '<i class="fa fa-heart" aria-hidden="true"></i> Whishlist'.html_safe, userpage_wishlists_path
          - if current_user.verified?
            %li
              = link_to '<i class="fa fa-film" aria-hidden="true"></i> My Videos'.html_safe, userpage_videos_path
          %li
            = link_to '<i class="fa fa-gear" aria-hidden="true"></i> Settings'.html_safe, edit_userpage_member_path(current_user)
          %li
            = link_to '<i class="fa fa-share fa-1" aria-hidden="true"></i> SignOut'.html_safe, destroy_user_session_path, method: 'delete'
    - else
      %li
        = link_to 'Register', new_user_registration_path
      %li
        = link_to 'Login', new_user_session_path
    %li.only-responsive
      = link_to 'Home', root_path

.rgba-black
  .sidebar-nav
    = render 'shareds/side_nav'
          