%h4.titleize POPULAR
%ul.latest-list
  - @popular_videos.each_with_index do |v, index|
    %li
      = link_to video_path(v) do
        .cover
          - cache ["cover_video_popular_#{v.id}_#{v.updated_at.to_time.to_i}"] do
            = image_tag v.cover_image.url(:small)
        .category #{v.type_video.titleize if v.type_video.present?}
        - if v.series? && v.episodes.present?
          .title #{v.episodes.first.title}
        - else
          .title #{v.title}
        %small.view-eye
          %i.fa.fa-eye
          #{v.impressionist_count} Views