- if current_user.present?
  .col-md-12
    = link_to root_path do
      .thumb-avatar
        = image_tag current_user.avatar.url(:small)
  .col-md-12
    %center
      %p
        = link_to "<i class='fa fa-globe' aria-hidden='true'></i> #{current_user.try(:email)}".html_safe, userpage_dashboard_path
      = link_to "<i class='fa fa-gear' aria-hidden='true'></i> Setting Account".html_safe, edit_userpage_member_path(current_user), class: 'btn btn-success btn-xs'
.col-md-12
  %ul
    %li
      = link_to '<i class="fa fa-globe" aria-hidden="true"></i> Beranda'.html_safe, root_path, class: "#{'true' if params[:action] == 'home'}"
    - unless current_user.present?
      %li
        = link_to '<i class="fa fa-user" aria-hidden="true"></i> SignIn/SignUp'.html_safe, new_user_session_path
    - get_categories.each do |c|
      %li
        = link_to "<i class='fa fa-film' aria-hidden='true'></i> #{c.name.titleize} <small class='pull-right'>#{c.videos.actived.size}</small>".html_safe, videos_path(category: c), class: "#{c.slug == params[:category]}"

  .ads-google
    %br
    %strong RELEASE YEAR
    %br
    %br
    .row
      - (2008..Date.today.year).reverse_each do |y|
        .col-xs-4
          = link_to "#{y}", results_videos_path(year: y), class: "btn btn-info btn-xs btn-year #{y == params[:year].to_i}"

    %br
    %small.color-grey Share sovies-series.com to everyone ?
    %br
    %br
    .fb-share-button{"data-href" => "#{root_url}", "data-layout" => "button_count"}
    &nbsp;
    %a{:href => "https://twitter.com/intent/tweet?url=#{root_url}&text=Watch%20movies%20series%20videos.&via=movies-series", :target => "_blank", class: 'btn btn-info btn-xs'} <i class="fa fa-twitter" aria-hidden="true"></i> Share
    &nbsp;
    %a{:href => "https://plus.google.com/share?url=#{root_url}", :target => "_blank", class: 'btn btn-danger btn-xs'} <i class="fa fa-google-plus" aria-hidden="true"></i> Share
    %br
    %br