.container
  .row
    .col-xs-12
      %br
      = javascript_include_tag "//www.google.com/jsapi", "chartkick"
      .well
        %h4{align: 'center'} Statistik Visitor
      = column_chart Visit.per_year.group_by_month(:started_at, format: "%b %Y").count
      %br
      %ul.today-datas.display-center
        %li
          .datas-text
            %b 
              = Visit.count_today
            %br 
            visitors Today
        %li
          .datas-text
            %b 
              = Visit.count_week
            %br 
            Visitors This Week
        %li
          .datas-text
            %b 
              = Visit.count_month
            %br 
            Visitor This Month
        %li
          .datas-text
            %b 
              = Visit.count_year
            %br 
            Visitor This Year
        %li
          .datas-text
            %b 
              = Visit.count
            %br 
            Visitors till date
      - column_chart = Visit.per_year.group_by_month(:started_at, format: "%b %Y").count
      .chart
        %canvas#number_visitors