.col-md-12
  .timeline-profil.shadow
    %h2 Activities
    %small
      %b Bergabung Sejak : 
      = current_user.created_at.strftime("%I:%M %B, %d, %Y")
    %small.pull-right
      %b &nbsp;&nbsp; Terakhir Masuk :  
      = current_user.current_sign_in_at.strftime("%I:%M %B, %d, %Y")
    %br
    %br
    #wallmessages.qa-message-list
      - unless @activities.present?
        .alert.alert-warning
          %p{align: 'center'} Belum ada aktivitas untuk saat ini!
      - else
        - @activities.each do |activity|
          #m16.message-item.wow.bounceInUp
            .message-inner
              .message-head.clearfix
                .user-detail
                  .post-meta
                    .asker-meta
                      %span.qa-message-what
                      %span.qa-message-when
                        %span.qa-message-when-data 
                          = activity.created_at.strftime("%I:%M %B, %d, %Y")
                      %span.qa-message-who
                        %span.qa-message-who-pad by 
                        %span.qa-message-who-data
                          %a{:href => "#"} &nbsp;#{current_user.username}
              .qa-message-content
                = activity.title.html_safe

        %br
        = will_paginate @activities