.row
  .col-md-12
    %br
    = link_to_add_association f, :episodes, partial: 'video_fields', class: "btn btn-info btn-sm" do
      %i.fa.fa-film
      %span Add Episode
      
  = f.fields_for :episodes do |e|
    = render 'video_fields', f: e
