.col-md-12.nested-fields
  .well
    .row
      .col-md-4.video-form
        = image_tag f.object.cover_image.url(:small), style: 'width: 100%'
        %br
        = f.file_field :cover_image
      .col-md-8
        .row
          .col-md-12
            = link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right'
            %h6 Episode
            = f.number_field :episode, class: 'form-control'
            %h6 Title
            = f.text_field :title, class: 'form-control'
            %h6 Link Video
            = f.text_area :link_video, class: 'form-control', placeholder: 'Link Video'
          .col-md-6
            %h6 Link Download Video
            = f.text_field :link_download_video, class: 'form-control', placeholder: 'ex. https://openload.co/f/ldhuhSrB-1E ...'
          .col-md-6
            %h6 Link Download Subtitle
            = f.text_field :link_download_subtitle, class: 'form-control', placeholder: 'ex. https://openload.co/f/JuZGIjgVQHo ...'

