.box
  .box-header
    %b
      = params[:action]
      = link_to 'Back To List', backend_videos_path, class: 'btn btn-info btn-xs pull-right'
    %hr
  .box-body.table-responsive
    = form_for @video, url: backend_video_path, method: 'put' do |f|
      = render 'form', f: f
