.box
  .box-header
    .row
      .col-md-6
        %label <b>#{@videos_count}</b> Result #{params[:controller].split('/')[1]}
        = form_for :search, url: backend_videos_path(params), method: 'get', html:{class: 'form-inline'} do |f|
          .form-group
            = text_field_tag :key, params[:key], class: 'form-control', placeholder: "Search", style: 'width: 300px'
          %button{type: "submit", class: "btn btn-default"} Search
      .col-md-6
        = link_to 'Create New', new_backend_video_path, class: 'btn btn-info pull-right'
  = form_for :multiple, url: multiple_action_backend_videos_path, method: 'get' do
    .col-md-12
      .btn-multiple-act
        = submit_tag 'Do Verified', value: 'Do Verified', class: 'btn btn-success'
        = submit_tag 'Do Featured', value: 'Do Featured', class: 'btn btn-warning'
        = submit_tag 'Do Destroy', value: 'Do Destroy', class: 'btn btn-danger'
    .box-body.table-responsive
      %table.table.table-hover
        %tr
          %th{width: '1%'}
            .check_all_box
              = check_box_tag :check_all 
          %th{width: '10%'} cover_image
          %th Title
          %th Status
          %th Type
          %th Category
          %th{width: '20%'} Tag
          %th Created At
          %th{width: '10%'}
            Action
        - @videos.each do |resource|
          %tr
            %td
              = check_box_tag 'ids[]', resource.id
            %td
              = image_tag resource.cover_image.url(:thumb)
            %td
              = resource.title
              %div
                = resource.featured?
              %div
              %i.fa.fa-eye 
              #{resource.impressionist_count(filter: :ip_address)} Views
            %td
              = resource.status?
            %td
              = resource.kind
            %td
              = resource.try(:category_video).try(:name)
            %td
              = resource.tag
            %td
              = resource.created_at.strftime("%I:%M %B, %d, %Y")
            %th
              = link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_backend_video_path(resource), class: 'btn btn-primary btn-xs'
              = link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, backend_video_path(resource), method: 'delete', data: {confirm: "Data #{@resource_name} successfully deleted!"}, class: 'btn btn-danger btn-xs'

    = will_paginate

