.col-md-12
  .well
    .row
      .col-md-3.avatar-form
        = image_tag @category_video.cover_image.url(:small), style: 'width: 100%'
        %br
        %span.btn.btn-default.btn-choice{style: 'width: 100%'}
          Choice Cover
        = f.file_field :cover_image, style: "display: none"
      .col-md-9
        %label Name
        .form-group
          = f.text_field :name, class: 'form-control', placeholder: 'ex. Film Indonesia, Film Korea ...'
        %label Description
        .form-group
          = f.text_area :description, class: 'form-control'
.col-md-12
  = f.submit 'Save', class: "btn btn-success btn-login"