.box
  .box-header
    %b
      Data #{params[:controller].split('/')[1]}
      = link_to 'Create New', new_backend_category_video_path, class: 'btn btn-info btn-xs pull-right'
  .box-body.table-responsive
    %table.table.table-hover
      %tr
        %th Id
        %th Cover
        %th Name
        %th Description
        %th Created At
        %th{width: '15%'}
          Action
      - @category_videos.each do |resource|
        %tr
          %td
            = resource.id
          %td
            = image_tag resource.cover_image.url(:thumb)
          %td
            = resource.name
          %td
            = resource.description
          %td
            = resource.created_at.strftime("%I:%M %B, %d, %Y")
          %th
            = link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_backend_category_video_path(resource), class: 'btn btn-primary btn-xs'
            = link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, backend_category_video_path(resource), method: 'delete', data: {confirm: "Data #{@resource_name} successfully deleted!"}, class: 'btn btn-danger btn-xs'

    = will_paginate

