- (['Movies','Series']).each do |c|
  .col-md-6
    .border-well
      %center
        %b #{c}
        %div
          = f.radio_button :kind, c, class: 'video_kind_movie'
.col-md-12
  .border-well
    .row
      .col-md-3.avatar-form
        = image_tag @video.cover_image.url(:small), style: 'width: 100%'
        %br
        %span.btn.btn-default.btn-xs.btn-choice{style: 'width: 100%'}
          Choice cover_image
        = f.file_field :cover_image, style: "display: none"
      .col-md-9
        .row
          .col-md-12
            %label Title
            .form-group
              = f.text_field :title, class: 'form-control', placeholder: 'ex. The film, The movie ...'
            %label Link Video
            .form-group
              = f.text_field :file, class: 'form-control', placeholder: 'ex. https://www.youtube.com/watch?v=aK1PlNIvbkk ...'
          .col-md-6
            %label Link Download Video
            .form-group
              = f.text_field :link_download_video, class: 'form-control', placeholder: 'ex. https://openload.co/f/ldhuhSrB-1E ...'
          .col-md-6
            %label Link Download Subtitle
            .form-group
              = f.text_field :link_download_subtitle, class: 'form-control', placeholder: 'ex. https://openload.co/f/JuZGIjgVQHo ...'
.col-md-6
  %label Category
  .form-group
    = f.select :category_video_id, options_for_select(get_categories.map{|c| [c.name, c.id]}, f.object.category_video_id), {prompt: 'Choice Category'}, class: 'form-control'
.col-md-6
  %label Type
  .form-group
    = f.select :type_video, options_for_select(get_types, f.object.type_video), {prompt: 'Choice Type'}, class: 'form-control'
.col-md-6
  %label Year
  .form-group
    = f.select :year, options_for_select((1999..2016).map{|y| y}, f.object.year), {prompt: 'Choice Year'}, class: 'form-control'
.col-md-6
  %label Session
  .form-group
    = f.number_field :session, class: 'form-control', placeholder: 'ex. Session 1, Session2 ...'
.col-md-6
  %label Written By
  .form-group
    = f.text_field :director, class: 'form-control', placeholder: 'ex. Will Smith ...'
.col-md-6
  %label Actors
  .form-group
    = f.text_field :actors, class: 'form-control', placeholder: 'ex. Sandra Bulog, Cavin ...'
.col-md-12
  %label Synopsis
  .form-group
    = f.text_area :description, class: 'form-control', style: 'height: 200px'
.col-md-12
  %label Tag
  .form-group
    = f.text_field :tag, class: 'form-control', placeholder: 'movies, Action, Adventure, Comedy, Music, Sci-fi, USA, HD 720p, movies 2016'
.col-md-12
  = f.submit 'Save', class: "btn btn-success btn-login"

.col-md-12.section-video
  %br
  %h3 Episodes Video
  %hr
  = render partial: 'video_form', locals: {f: f}

  %br
  = f.submit 'Save', class: "btn btn-success btn-login"