.row
  .col-md-12
    = link_to_add_association f, :episodes, partial: 'video_fields', class: "btn btn-info btn-sm", style: 'margin-bottom:10px;' do
      %i.fa.fa-film &nbsp;
      %span Add Episode

  = f.fields_for :episodes do |e|
    = render 'video_fields', f: e

