.col-md-12
  .content
    = link_to '< Back', userpage_videos_path, class: 'btn btn-info btn-xs pull-left'
    %br
    %hr
    .box-form
      %h3{align: 'center'} Edit Video
      = form_for @video, url: userpage_video_path(@video), method: 'put' do |f|
        = render 'form', f: f