.col-xs-8
  = form_for :search, url: userpage_videos_path(params), method: 'get', html:{class: 'form-inline'} do |f|
    .form-group
      .label-results Found <b>#{@videos_count}</b> Result Videos
      = text_field_tag :key, params[:key], class: 'form-control search-input-keywords', placeholder: "Search"
.col-xs-4
  %br
  = link_to 'Create New', new_userpage_video_path, class: 'btn btn-info pull-right'
.col-md-12
  %hr
  - if @videos.present?
    - @videos.each_with_index do |v, index|
      .content-title
        .row
          .col-md-3
            .cover
              = image_tag v.cover_image.url(:small)
          .col-md-9
            %table.table
              %tr
                %td{width: '25%'}
                  %b TITLE
                %td : #{link_to "#{v.title} (#{v.code})", video_path(v)}
              %tr
                %td 
                  %b STATUS
                %td : #{v.status?} &nbsp; #{v.featured?}
              %tr
                %td 
                  %b TYPE
                %td : #{v.kind}
              %tr
                %td 
                  %b RILIS
                %td : #{v.year}
              %tr
                %td 
                  %b WRITTEN BY
                %td : #{v.director}
              %tr
                %td 
                  %b ACTORS
                %td : #{v.actors}
              %tr
                %td 
                  %b CATEGORY
                %td : #{v.tag}
              %tr
                %td 
                  %b CREATED AT
                %td : #{v.created_at.strftime("%I:%M %B, %d, %Y")}
            
          .col-md-12
            %hr
          .col-md-6
            = link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_userpage_video_path(v), class: 'btn btn-info btn-xs'
            = link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, userpage_video_path(v), method: 'delete', data: {confirm: "Data #{v.title} successfully deleted!"}, class: 'btn btn-danger btn-xs'
          .col-md-6
            %span.pull-right
              %i.fa.fa-eye
              #{v.impressionist_count} Views
  - else
    .alert.alert-warning{align: 'center'} No data results!

.col-md-12
  = will_paginate