.col-md-12
  .content
    = link_to '< Back', userpage_videos_path, class: 'btn btn-info btn-xs pull-left'
    %br
    %hr
    .box-form
      %h3{align: 'center'} Create New Video
      = form_for @video, url: userpage_videos_path, method: 'post' do |f|
        = render 'form', f: f