%li
  = link_to video_path(v) do
    .cover
      - cache ["cover_video_#{v.id}_#{v.updated_at.to_time.to_i}"] do
        = image_tag v.cover_image.url(:small)
      - if v.series? && v.episodes.present?
        = v.episodes.first.data_new_today?
      - else
        = v.data_new_today?
      %small.view-eye
        %i.fa.fa-eye
        #{v.impressionist_count}
    - if v.series? && v.episodes.present?
      .title #{v.episodes.first.title}
      .category #{time_ago_in_words(v.episodes.first.created_at)} a go
    - else
      .title #{v.title.titleize}
      .category #{v.type_video.titleize if v.type_video.present? if v.type_video.present?} (Rilis #{v.year})

