.col-md-12
  .sort-order
    .col-xs-6
      = link_to 'Back', video_path(@video), class: 'btn btn-success'
    .col-xs-6
      = form_for :search, url: episode_videos_path(params), method: 'get', html:{class: 'search'} do |f|
        = hidden_field_tag :video, @video.slug
        = select_tag :episode, options_for_select(@video.episodes.map{|e| [('Episode '+e.episode.to_s+' : '+e.title), e.episode]}, params[:episode]), class: 'form-control reload'
  .headline
    .ads-movie
      .word
        .ads-google
          %p Close & Play Video
          %a{:href => "http://yuk.bi/t24b8d"}
            %img{:src => "https://store.yukbisnis.com/smallphoto/paket-seo-toko-online-preview.jpg", style: 'width:300px;'}
    <iframe scrolling="no" frameborder="0" src="#{@episode.link_video}" allowFullScreen></iframe>
  .content-title
    .row
      .col-md-12
        = link_to "<h1>Episode #{@episode.episode} : #{@episode.title}</h1>".html_safe, episode_videos_path(episode: @episode.episode)
        %br
      .col-md-3
        .cover
          - if @episode.cover_image.blank?
            = image_tag @video.cover_image.url(:small)
          - else
            = image_tag @episode.cover_image.url(:small)
        - if current_user.present?
          - if @video.check_your_wish(current_user).present?
            .btn.btn-success.btn-xs.btn-like Video already your favorite
          - else
            = form_for Wishlist.new, method: 'post' do |f|
              = f.hidden_field :video_id, value: @video.id
              = f.submit 'Save To List Movie', class: 'btn btn-danger btn-xs btn-like'
        - if @episode.link_download_video.present?
          #{link_to '<i class="fa fa-download" aria-hidden="true"></i> DOWNLOAD VIDEO'.html_safe, @episode.link_download_video, target: '_blank', class: 'btn btn-info btn-download'}
        - if @episode.link_download_subtitle.present?
          #{link_to '<i class="fa fa-download" aria-hidden="true"></i> Download Subtitle'.html_safe, @episode.link_download_subtitle, target: '_blank', class: 'btn btn-default btn-download btn-xs'}
      .col-md-9
        %table.table
          %tr
            %td{width: '20%'}
              %b RATING :
            %td #{rating_for @video, 'service', disable_after_rate: true}
          - if @video.session.present?
            %tr
              %td 
                %b SESSION :
              %td Session #{@video.session}
          %tr
            %td 
              %b EPISODE :
            %td Episode #{@episode.episode}
          %tr
            %td
              %b TITLE :
            %td #{link_to @episode.title, episode_videos_path(episode: @episode.episode)}
          %tr
            %td 
              %b RILIS :
            %td #{@video.year}
          %tr
            %td 
              %b PUBLISHED AT :
            %td #{@episode.created_at.strftime("%B, %d, %Y")}
        
        %b SYNOPSIS
        %hr
        %p #{@video.description}

      .col-md-12
        %hr
      .col-xs-9
        = render 'shareds/sharethis'
      .col-xs-3
        .btn.btn-default.pull-right
          %i.fa.fa-eye
          #{@episode.impressionist_count} Views
  .ads-google
    / home-side-right-1
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "5270798940", :style => "display:block"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
  .content
    .fb-comments{'data-href' => "#{video_url(@video)}", 'data-width'=>"100%", 'data-numposts'=>"5"}