.col-md-9
  - cache ["index_videos_#{@category_video.id}_#{@category_video.updated_at.to_time.to_i}"] do
    .headline{style: 'height:400px;'}
      = image_tag @category_video.cover_image.url(:large)
      .title-content
        = link_to "<h1>#{@category_video.name.titleize}</h1>".html_safe, video_path(1)
  .fb-like{"data-action" => "like", "data-href" => "#{videos_url(category: params[:category])}", "data-layout" => "standard", "data-show-faces" => "true"}
  .content-title
    %span
      %i.fa.fa-eye 
      #{@category_video.impressionist_count} Views

    %span.pull-right
      Results: <i class="fa fa-film" aria-hidden="true"></i> #{@collection.size} Movies
    %hr
    .row
      .col-md-8
        = render 'shareds/sharethis'
      .col-md-4
        = form_for :search, url: videos_path(params), method: 'get', html:{class: 'search'} do |f|
          = select_tag :category, options_for_select(get_categories.map{|c| [c.name, c.slug]}, params[:category]), class: 'form-control reload'
  .ads-google
    / home-bar-1
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "5550000542", :style => "display:block"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});

  .content
    %ul.content-list
      - @videos.each_with_index do |v, index|
        = render 'videos/detail', v: v

  .col-md-12
    = will_paginate

.col-md-3
  .ads-google
    %a{:href => "http://yuk.bi/t24b8d"}
      %img{:src => "https://store.yukbisnis.com/smallphoto/paket-seo-toko-online-preview.jpg"}/
  = react_component 'PopularVideos', {popular_videos: @popular_videos.map{|v| {title: v.title, updated_serie_title: v.try(:episodes).try(:first).try(:title), type_video: v.type_video, kind: v.kind, count: v.impressionist_count, cover: v.cover_image.url(:small), link: video_url(v) }}}
  = react_component 'FeaturedVideos', {featured_videos: @featured_videos.map{|v| {title: v.title, updated_serie_title: v.try(:episodes).try(:first).try(:title), type_video: v.type_video, kind: v.kind, count: v.impressionist_count, cover: v.cover_image.url(:small), link: video_url(v) }}}
  .ads-google
    / home-side-right-1
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "5270798940", :style => "display:block"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});