.col-md-9
  .ads-google
    / home-bar-1
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "5550000542", :style => "display:block"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});

  .content
    %span
      %b All Videos

    %span.pull-right
      Results: <i class="fa fa-film" aria-hidden="true"></i> #{@collection.size} Movies
    %hr
    %ul.content-list
      - @videos.each_with_index do |v, index|
        = render 'videos/detail', v: v
        
  = will_paginate

.col-md-3
  = react_component 'PopularVideos', {popular_videos: @popular_videos.map{|v| {title: v.title, updated_serie_title: v.try(:episodes).try(:first).try(:title), type_video: v.type_video, kind: v.kind, count: v.impressionist_count, cover: v.cover_image.url(:small), link: video_url(v) }}}
  .ads-google
    / home-side-right-1
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "5270798940", :style => "display:block"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});