.col-md-12
  .row
    .col-md-12
      - if @video.series? && @video.episodes.present?
        .sort-order
          .col-xs-6
            = link_to 'Back', root_path, class: 'btn btn-success'
          .col-xs-6
            = form_for :search, url: episode_videos_path(params), method: 'get', html:{class: 'search'} do |f|
              = hidden_field_tag :video, @video.slug
              = select_tag :episode, options_for_select(@video.episodes.map{|e| [('Episode '+e.episode.to_s+' : '+e.title), e.episode]}, params[:episode]), class: 'form-control reload'
        .headline
          .ads-movie
            .word
              .ads-google
                %p Close & Play Video
                %a{:href => "http://yuk.bi/t24b8d"}
                  %img{:src => "https://store.yukbisnis.com/smallphoto/paket-seo-toko-online-preview.jpg", style: 'width:300px;'}
          <iframe scrolling="no" frameborder="0" src="#{@video.episodes.reverse.last.link_video}" allowFullScreen></iframe>
      - else
        .headline
          .ads-movie
            .word
              .ads-google
                %p Close & Play Video
                %a{:href => "http://yuk.bi/t24b8d"}
                  %img{:src => "https://store.yukbisnis.com/smallphoto/paket-seo-toko-online-preview.jpg", style: 'width:300px;'}
          <iframe scrolling="no" frameborder="0" src="#{@video.file}" allowFullScreen></iframe>
      .fb-like{"data-action" => "like", "data-href" => "#{video_url(params[:id])}", "data-layout" => "standard", "data-show-faces" => "true"}
    .col-md-9
      .content-title
        .row
          .col-md-12
            = link_to "<h1>#{@video.title}</h1>".html_safe, video_path(@video)
            %br
          .col-md-3
            .cover
              - cache ["show_video_cover_#{@video.id}_#{@video.updated_at.to_time.to_i}"] do
                = image_tag @video.cover_image.url(:small)
            - if current_user.present?
              - if @video.check_your_wish(current_user).present?
                .btn.btn-success.btn-xs.btn-like <i class="fa fa-check-square-o" aria-hidden="true"></i> Video already your favorite
              - else
                = form_for Wishlist.new, method: 'post' do |f|
                  = f.hidden_field :video_id, value: @video.id
                  = button_tag '<i class="fa fa-heart" aria-hidden="true"></i> Save To List Movie'.html_safe, class: 'btn btn-danger btn-xs btn-like'
            - if @video.link_download_video.present?
              #{link_to '<i class="fa fa-download" aria-hidden="true"></i> DOWNLOAD VIDEO'.html_safe, @video.link_download_video, target: '_blank', class: 'btn btn-info btn-download'}
            - if @video.link_download_subtitle.present?
              #{link_to '<i class="fa fa-download" aria-hidden="true"></i> Download Subtitle'.html_safe, @video.link_download_subtitle, target: '_blank', class: 'btn btn-default btn-download btn-xs'}
          .col-md-9
            %table.table
              %tr
                %td{width: '20%'}
                  %b RATING
                %td #{rating_for @video, 'service', disable_after_rate: true}
              %tr
                %td
                  %b TITLE
                %td : #{link_to "#{@video.title}", video_path(@video)}
              %tr
                %td 
                  %b TYPE
                %td : #{@video.kind}
              %tr
                %td 
                  %b RILIS
                %td : #{@video.year}
              - if @video.session.present?
                %tr
                  %td 
                    %b SESSION
                  %td : Session #{@video.session}
              - if @video.director.present?
                %tr
                  %td 
                    %b WRITTEN BY
                  %td : #{@video.director}
              - if @video.actors.present?
                %tr
                  %td 
                    %b ACTORS
                  %td : #{@video.actors}
              - if @video.tag.present?
                %tr
                  %td 
                    %b CATEGORY
                  %td : #{@video.tag}
            
            %b SYNOPSIS
            %hr
            %p #{@video.description}

          .col-md-12
            %hr
          .col-xs-9
            = render 'shareds/sharethis'
          .col-xs-3
            .btn.btn-default.pull-right
              %i.fa.fa-eye
              #{@video.impressionist_count} Views
      .ads-google
        / home-side-right-1
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "5270798940", :style => "display:block"}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});
      .content
        .row
          - if @video.movies?
            %ul.content-list
              - @other_videos.each_with_index do |v, index|
                = render 'videos/detail', v: v

          - else
            .col-md-12
              %h3 Latest Updates
              %hr
              .row
                - @video.episodes.each_with_index do |e, index|
                  .episode-list
                    .col-xs-8
                      %span.title
                        - if index == 0
                          = link_to "<i class='fa fa-film'></i> <b>Episode #{e.episode}</b> ##{e.title} <span class='label label-danger'>New</span>".html_safe, episode_videos_path(episode: e.episode, video: @video.slug)
                        - else
                          = link_to "<i class='fa fa-film'></i> <b>Episode #{e.episode}</b> ##{e.title}".html_safe, episode_videos_path(episode: e.episode, video: @video.slug)
                    .col-xs-4
                      %span.date
                        = e.created_at.strftime("%B, %d, %Y")
      .content
        .fb-comments{'data-href' => "#{video_url(@video)}", 'data-width'=>"100%", 'data-numposts'=>"5"}
    .col-md-3
      .ads-google
        %a{:href => "http://yuk.bi/t24b8b"}
          %img{:src => "https://store.yukbisnis.com/smallphoto/british-propolis-preview.png"}/
      = render 'shareds/popular'
      .ads-google
        / home-bar-1
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "5550000542", :style => "display:block"}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});