.box
  .box-header
    %b
      = params[:action]
      = link_to 'Back To List', backend_members_path, class: 'btn btn-info btn-xs pull-right'
    %hr
  .box-body.table-responsive
    = form_for @member, url: backend_member_path, method: 'put' do |u|
      = u.fields_for :profile do |f|
        = render 'form', {f: f, u: u}
