.box
  .box-header
    .row
      .col-md-6
        %label <b>#{@members_count}</b> Result #{params[:controller].split('/')[1]}
        = form_for :search, url: backend_members_path(params), method: 'get', html:{class: 'form-inline'} do |f|
          .form-group
            = text_field_tag :key, params[:key], class: 'form-control', placeholder: "Search", style: 'width: 300px'
          %button{type: "submit", class: "btn btn-default"} Search
      .col-md-6
        = link_to 'Create New', new_backend_member_path, class: 'btn btn-info pull-right'
  = form_for :multiple, url: multiple_action_backend_members_path, method: 'get' do
    .col-md-12
      .btn-multiple-act
        = submit_tag 'Do Verified', value: 'Do Verified', class: 'btn btn-success'
        = submit_tag 'Do Featured', value: 'Do Featured', class: 'btn btn-warning'
        = submit_tag 'Do Destroy', value: 'Do Destroy', class: 'btn btn-danger'
    .box-body.table-responsive
      %table.table.table-hover
        %tr
          %th{width: '1%'}
            .check_all_box
              = check_box_tag :check_all 
          %th{width: '10%'}
            Username
          %th Verified
          %th Email
          %th Address
          %th Created At
          %th{width: '15%'}
            Action
        - @members.each do |resource|
          %tr
            %td
              = check_box_tag 'ids[]', resource.id
            %td
              = resource.username
            %td
              = resource.status?
            %td
              = resource.email
            %td
              = resource.profile.place_info
            %td
              = resource.created_at.strftime("%I:%M %B, %d, %Y")
            %th
              = link_to '<i class="fa fa-wrench" aria-hidden="true"></i> Edit'.html_safe, edit_backend_member_path(resource), class: 'btn btn-primary btn-xs'
              = link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, backend_member_path(resource), method: 'delete', data: {confirm: "Data #{@resource_name} successfully deleted!"}, class: 'btn btn-danger btn-xs'

    = will_paginate

