.col-md-12
  .content
    .row
      .col-xs-6
        .btn.btn-default
          Found <b>#{@videos_count}</b> Result Videos
      .col-xs-6
        = form_for :search, url: userpage_wishlists_path(params), method: 'get', html:{class: 'form-inline'} do |f|
          .form-group.pull-right
            = text_field_tag :key, params[:key], class: 'form-control search-input-keywords', placeholder: "Search"
      .col-md-12
        %hr
      .col-md-12
        - if @wishlists.present?
          %ul.content-list
            - @wishlists.each do |v|
              %li
                .cover
                  = image_tag v.video.cover_image.url(:small)
                  = link_to '<i class="fa fa-close" aria-hidden="true"></i>'.html_safe, userpage_wishlist_path(v), class: 'btn btn-danger btn-xs', method: 'delete', data: {confirm: "Are you sure to remove this video from your favorite video list?"}
                .title
                  = link_to "#{v.video.title}", video_path(v.video)
                .category #{v.video.category_video.name}
        - else
          .alert.alert-warning{align: 'center'} No data results!

.col-md-12
  = will_paginate