@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/_all-skins";

.avatar-form{
  .img-circle{
    width: 200px;
    height: 200px;
  }
}

.display-center {
  width: auto;
  margin: auto;
  display: table;
}

.today-datas{
  list-style-type: none;
  padding: 0px;
  li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
    background: #f8f8f8;
    text-shadow: 0px 1px #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 3px #fff;
    max-width: 100%;
    text-align: center;
  }
}

.select-birthday{
  width: 33.3%;
  float: left;
}

.btn-multiple-act{
  .btn{
    margin-right: 5px;
  }
}