/*=======================================
  Colorize Custom
=======================================*/
$grey: #f5f5f5;
$old-grey: #ccc;
$black-grey: #777;
$black: #444;
$black-soft: #5a5252;
$old-blue: #02273e;
$ocean-blue: rgb(9, 101, 140);
$blue-soft: #1d96dc;
$blue-fb: #3b5998;
$rgba-black: rgba(0,0,0,0.5);
$orange: #fda42f;
$red: #e03618;
$old-red: #ca0000;
$green: #5be815;

@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 991px) {
  .container{
    width: 100%;
  }
  .only-responsive{
    display: block;
  }
  .section-sidebar-menu{
    display: none;
  }
  .latest-list li a{
    width: 50%;
  }
  .latest-list-full li a{
    width: 50%;
  }
  .container-dashboard{
    padding: 0
  }
  .devise-body{
    padding-top: 0;
  }
  .navbar-top ul.right .dropdown {
    display: none;
    position: absolute;
    right: 20px;
    width: 200px;
  }
}
@media screen and (max-width: 850px) {
}
@media screen and (max-width: 768px) {
  h1{
    font-size: 25px!important;
  }
  h2{
    font-size: 20px!important;
  }
  h3{
    font-size: 18px!important;
  }
  h4{
    font-size: 15px!important;
  }
  .headline .feat-title-wrap h3{
    font-size: 13px!important;
  }
}
@media screen and (max-width: 767px) {
  .content-title .share{
    padding: 10px;
  }
  .navbar-top ul.right li a{
    font-size: 12px;
  }
  .navbar-top .thumb-avatar img{
    height: 35px;
  }
  .open .dropdown-menu{
    top: 44px;
  }
}
@media screen and (max-width: 650px) {
  body{
    padding-top: 150px;
  }
  .section-alert .alert{
    width: 90%;
  }
  .content .content-list li, .content .content-list li.li-20{
    width: 50%;
  }
  .latest-list-full li a .cover{
    height: 180px;
  }
  .latest-list li a{
    .title{
      font-size: 10px;
    }
    .view-eye{
      font-size: 10px;
    }
  }
  .latest-list-full li a{
    .title{
      font-size: 10px;
      height: 30px;
    }
    .view-eye{
      font-size: 10px;
    }
  }
  .content .content-list li a{
    .title{
      font-size: 10px;
    }
  }
  .navbar-top ul.left{
    width: 100%;
  }
  .li-search-form{
    width: 100%;
    padding-left:10px;
    padding-right:10px;
  }
  .search-form .form-group{
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 550px) {
  .content-title .share{
    padding: 10px 5px;
    font-size: 12px;
  }
  .episode-list .title a{
    font-size: 12px;
  }
  .search-input-keywords{
    width: 100%!important;
  }
  .headline{
    height: 100%!important;
  }
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 460px) {
  .section-alert .alert{
    width: 100%;
  }
  .latest-list li a{
    width: 100%;
  }
  .content-title .share{
    padding: 10px 5px;
    font-size: 12px;
    width: 100%;
  }
  .devise-body{
    img{
      width: 80%;
    }
    .container{
      padding: 0;
    }
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 360px) {
}
