/*=======================================
  Colorize Custom
=======================================*/
$grey: #f5f5f5;
$old-grey: #ccc;
$black-grey: #777;
$black: #333;
$black-soft: #5a5252;
$old-blue: #02273e;
$ocean-blue: rgb(9, 101, 140);
$blue-soft: #07314c;
$blue-fb: #3b5998;
$blue: #2525d4;
$rgba-black: rgba(0,0,0,0.5);
$orange: #fda42f;
$red: #e03618;
$old-red: #ca0000;
$green: #5be815;

/*=======================================
  Body Custom
=======================================*/
body{
  background: $grey;
  min-height: 400px;
  padding-top: 60px;
}
a{
  text-decoration: none!important;
}
.container{
  width: 1300px
}
.new-container{
  padding-top: 100px;
  .titleize{
    width: 100%;
    float: left;
    margin-top: 0;
  }
}
.well{
  float: left;
  width: 100%;
  .content-title{
    background: $grey;
  }
}
.border-well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pagination{
  margin: 0;
  float: left;
  width: 100%;
}
.section-alert{
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 120px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding-top: 120px;
  .alert{
    width: 600px;
    z-index: 99;
    margin: auto;
    text-align: center;
  }
}
.only-responsive{
  display: none;
}
.titleize{
  float: left;
  width: 100%;
}
.select-birthday{
  width: 33.3%;
  float: left;
}
.form-inline{
  float: left;
  width: 100%;
}
.search-input-keywords{
  width: 300px!important;
}
.label-results {
  float: left;
  width: 100%;
}

/********************************/
/*        Button Custom         */
/********************************/
.btn-full{
  width: 100%;
}
.btn-year{
  width: 100%;
  margin-bottom: 5px;
  background: black;
  border: solid 1px #444;
}
.btn-year.true{
  background: #46b8da;
}
.btn-download{
  width: 100%;
  margin-top: 10px;
}

/********************************/
/*          ADS Google          */
/********************************/
.ads-google{
  float: left;
  width: 100%;
  margin-bottom: 10px;
  img{
    width: 100%;
  }
}

/********************************/
/*        Button Custom         */
/********************************/
section{
  padding: 40px 0;
  float: left;
  width: 100%;
  background: white;
}
section.grey{
  background: $grey;
}
section.play-video{
  background: black;
  padding: 10px 0;
}
section.play-video-content{
  padding: 10px 0;
}

/********************************/
/*          Devise Style        */
/********************************/
.devise-body{
  background: $old-blue;
  color: white;
  font-size: 12px;
  font-weight: 300;
  a{
    color: white;
  }
  h1{
    color: white;
  }
  label{
    font-weight: normal;
    font-weight: 300;
  }
  .form-control{
    background: transparent!important;
    border: 0;
    box-shadow: none!important;
    color: white;
    border-bottom: solid 1px white;
    border-radius: 0;
  }
  .btn{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    border: 0;
  }
  .btn-login-submit{
    background: $red;
    border: 0;
  }
  .btn-login-submit:hover{
    background: rgba(248,80,50,1);
  }
}


/********************************/
/*        Headline Style        */
/********************************/
.sort-order{
  background: $black;
  width: 100%;
  float: left;
  padding: 8px 5px;
  a{
    color: white;
  }
  .col-xs-6{
    padding-left: 5px;
    padding-right: 5px; 
  }
}
.headline{
  width: 100%;
  overflow: hidden;
  position: relative;
  background: black;
  float: left;
  margin-bottom: 10px;
  .ads-movie{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    color: white;
    text-align: center;
    .ads-google {
      float: left;
      width: 100%;
      position: relative;
      p{
        position: absolute;
        width: 100%;
        top: 22%;
        background: #2525d4;
        color: white;
        font-size: 14px;
        border-radius: 5px;
        padding: 2px;
        z-index: 1;
        cursor: pointer;
        margin: 0;
      }
    }
    .adsbygoogle{
      /*opacity: 0.1;*/
    }
    .word{
      padding-top: 6%;
      margin: auto;
      display: table;
      position: relative;
    }
  }
  iframe{
    margin: auto;
    display: table;
    width: 700px;
    height: 550px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
    display: table;
  }
  img{
    width: 100%;
  }
  .viewest{
    position: absolute;
    top: 0;
    padding: 10px;
    color: white;
    right: 0;
    font-size: 12px;
    i{
      margin-right: 2px;
      margin-left: 5px;
    }
  }
  .title-content{
    position: absolute;
    bottom: 20px;
    padding: 20px;
    h1{
      font-size: 30px;
      color: white;
      -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      -ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      -o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      margin-top: 10px;
      margin-bottom: 5px;
    }
    h3{
      color: white;
      -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      -ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      -o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }
    span{
      color: $grey;
    }
  }
  .feat-title-wrap {
    position: absolute;
    left: 20px;
    bottom: -3px;
    h3{
      background: white;
      color: $black;
      display: inline-block;
      font-size: 13px;
      font-weight: 700;
      line-height: 100%;
      padding: 6px 10px 0;
      position: relative;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h3:after {
      content: '';
      border-color: transparent transparent transparent white;
      border-style: solid;
      border-width: 19px 0 0 15px;
      position: absolute;
      right: -14.9px;
      top: 0;
    }
  }
}

.headline.home{
  height: 400px;
}

/********************************/
/*        Content Style         */
/********************************/
.header-user-page{
  padding-bottom: 0!important;
}
.content-title{
  width: 100%;
  background: white;
  padding: 15px;
  float: left;
  margin-bottom: 10px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  h1{
    color: $black;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: solid 1px $black-grey;
  }
  .share{
    padding: left;
    color: $black-grey;
    padding: 10px 30px;
    float: left;
    i{
      margin-right: 5px;
    }
  }
  .share.active{
    border-bottom: solid 3px $blue-soft;
  }
  hr{
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .cover{
    width: 100%;
    webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    img{
      width: 100%;
    }
  }
  .btn-like{
    width: 100%;
    margin-top: 10px;
  }
}

.content{
  width: 100%;
  background: white;
  padding: 10px;
  float: left;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  h3{
    margin-top: 10px;
  }
  .alert{
    margin-bottom: 0;
  }
  .content-list{
    padding-left: 0;
    list-style: none;
    li{
      float: left;
      width: 20%;
      padding: 10px;
      height: 260px;
      font-size: 12px;
      a{
        color: $black;
      }
      .btn{
        position: absolute;
        left: 0;
        top: 0;
      }
      .category{
        color: $black-grey!important;
        font-size: 11px;
      }
      .cover{
        width: 100%;
        height: 180px;
        float: left;
        background: black;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 5px;
        position: relative;
        img{
          height: 100%;
          margin: auto;
          display: table;
        }
        .label{
          background: red;
          color: #fff;
          position: absolute;
          top: 0;
          left: 0;
        }
        .view-eye{
          position: absolute;
          bottom: 0;
          color: #f5f5f5;
          padding: 10px;
          font-size: 10px;
        }
      }
    }
    li.li-20{
      width: 20%;
    }
  }
}

.latest-list{
  padding-left: 0;
  list-style: none;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  li a{
    float: left;
    width: 100%;
    background: white;
    padding: 10px;
    border-bottom: solid 1px $grey;
    color: $black;
    .category{
      color: $black!important;
      font-size: 11px;
    }
    .cover{
      width: 80px;
      height: 80px;
      float: left;
      background: black;
      overflow: hidden;
      margin-right: 10px;
      img{
        height: 100%;
        margin: auto;
        display: table;
      }
    }
    .view-eye{
      color: $black-grey;
    }
  }
}

.latest-list-full{
  padding-left: 0;
  list-style: none;
  li a{
    float: left;
    width: 100%;
    background: white;
    padding: 10px;
    border-bottom: solid 1px $grey;
    color: $black;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .category{
      color: $black-grey!important;
      font-size: 11px;
    }
    .cover{
      width: 100%;
      height: 150px;
      float: left;
      background: black;
      overflow: hidden;
      margin-right: 10px;
      margin-bottom: 10px;
      img{
        width: 100%;
      }
    }
    .view-eye{
      color: $black-grey;
    }
  }
}

/********************************/
/*        Navbar Menu           */
/********************************/
.navbar-top{
  background: #043c5f;
  float: left;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.18);
  position: fixed;
  z-index: 2;
  top: 0;
  .thumb-avatar{
    padding: 6px!important;
    img{
      height: 40px;
    }
  }

  ul.left{
    padding-left: 0;
    float: left;
    list-style: none;
    margin: 0;
    .li-brand{
      width: 240px;
      a{
        padding: 5px;
      }
      a:hover{
        background: none;
      }
      img{
        height: 42px;
      }
    }
    li{
      float: left;
      a{
        padding: 15px;
        color: white;
        float: left;
        font-size: 16px;
        i{
          font-size: 20px;
        }
      }
      a:hover{
        background: $blue;
      }
    }
  }

  ul.right{
    padding-left: 0;
    float: right;
    list-style: none;
    margin: 0;
    li{
      float: right;
      a{
        padding: 15px;
        color: white;
        float: right;
        font-size: 16px;
      }
      a:hover{
        background: $blue;
      }
    }
    .dropdown{
      display: none;
    }
  }

  ul.right.open{
    .dropdown{
      display: block!important;
    }
  }
}

.open .dropdown-menu{
  display: block!important;
  top: 50px;
  padding-left: 0;
  border-radius: 0;
  li{
    float: left!important;
    width: 100%;
    a{
      float: left!important;
      width: 100%!important;
      color: #444!important;
      border-bottom: solid 1px $grey;
    }
    a:hover{
      color: #fff!important;
    }
  }
}

/********************************/
/*          Dashboard           */
/********************************/
.container-dashboard {
  padding-left: 260px;
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}


/********************************/
/*        Sidebar Menu          */
/********************************/
.rgba-black{
  background: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999;
  display: none;
}
.section-sidebar-menu{
  padding-top: 50px;
  display: block;
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 1;
  overflow-y: scroll;
  -webkit-box-shadow: 3px 1px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 1px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 1px 5px -1px rgba(0,0,0,0.75);
  background: $old-blue;
  color: white;
  .navbar-brand{
    img{
      height: 45px;
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  a{
    color: white;
  }
  .count-inbox{
    background: #4DA4F8;
    font-size: 10px;
    padding: 1px 2px;
    color: white !important;
    border-radius: 2px;
  }
  .thumb-avatar{
    margin: auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 10px;
    img{
      height: 100%;
    }
  }
  ul{
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
    li a{
      float: left;
      width: 100%;
      padding: 10px;
      color: #ccc;
      cursor: pointer;
      font-weight: normal;
      font-size: 13px;
      border-radius: 5px;
      background: #07314c;
      margin-bottom: 5px;
      small{
        color: white;
      }
    }
    li a:hover, li a.true{
      background: $blue;
      border-radius: 5px;
    }
  }
}
.section-sidebar-menu::-webkit-scrollbar
{
  background-color: $black;
  border: 0px solid $black!important;
  width: 0px!important;
}
.sidebar-nav{
  -webkit-box-shadow: 3px 1px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 1px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 1px 5px -1px rgba(0,0,0,0.75);
  background: $old-blue;
  height: 100%;
  width: 300px;
  top: 0;
  color: white;
  position: fixed;
  overflow-y: scroll;
  .navbar-brand{
    img{
      height: 45px;
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  a{
    color: white;
  }
  .count-inbox{
    background: #4DA4F8;
    font-size: 10px;
    padding: 1px 2px;
    color: white !important;
    border-radius: 2px;
  }
  .thumb-avatar{
    margin: auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 10px;
    img{
      height: 100%;
    }
  }
  ul{
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
    li a{
      float: left;
      width: 100%;
      padding: 10px;
      color: #ccc;
      cursor: pointer;
      font-weight: normal;
      font-size: 13px;
      border-radius: 5px;
      background: #07314c;
      margin-bottom: 5px;
    }
    li a:hover{
      background: $blue;
      border-radius: 5px;
    }
  }
}
.sidebar-nav::-webkit-scrollbar
{
  background-color: $black;
  border: 0px solid $black!important;
  width: 0px!important;
}

/********************************/
/*         Search Top           */
/********************************/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 400px;
  height: 32px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid $grey;
  margin: 10px;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
/*.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 400px;
  border-radius: 4px 25px 25px 4px;
}*/
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

/********************************/
/*        FORM SIGNIN           */
/********************************/
.box-form{
  h1{
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
  }
  .form-group{
    input{
      background: #fff;
      height: 50px;
      border-radius: 0!important;
    }
    select{
      height: 50px;
      border-radius: 0!important;
    }
  }
  .btn-login{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  .avatar-form{
    margin-bottom: 20px;
    .img-circle{
      height: 200px;
      width: 200px;
      margin-bottom: 10px;
    }
  }
}

/********************************/
/*        Episode List          */
/********************************/
.episode-list{
  float: left;
  width: 100%;
  padding: 10px 5px; 
  .title{
    i{
      margin-right: 10px;
    }
    a{
      color: black;
      font-size: 15px;
    }
    a:hover{
      color: $blue-soft;
    }
  }
  .date{
    color: $black-grey;
    float: right;
    font-size: 12px;
  }
  .label{
    margin-left: 5px;
  }
}


/********************************/
/*        Timeline List         */
/********************************/
.timeline-profil {
  width: 100%;
  padding: 15px;
  overflow: hidden;
  background-color: white;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.message-item {
  margin-bottom: 25px;
  margin-left: 40px;
  position: relative;
}
.message-item .message-inner {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  position: relative;
}
.message-item .message-inner:before {
  border-right: 10px solid #ddd;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -20px;
  top: 6px;
  width: 0;
}
.message-item .message-inner:after {
  border-right: 10px solid #f5f5f5;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -18px;
  top: 6px;
  width: 0;
}
.message-item:before {
  background: $orange;
  border-radius: 2px;
  bottom: -30px;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
  content: "";
  height: 100%;
  left: -30px;
  position: absolute;
  width: 2px;
}
.message-item:after {
  background: $orange;
  border: 2px solid $orange;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  content: "";
  height: 15px;
  left: -36px;
  position: absolute;
  top: 10px;
  width: 15px;
}
.message-item:hover:after {
  background: white;
  border: 2px solid $orange;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  content: "";
  height: 15px;
  left: -36px;
  position: absolute;
  top: 10px;
  width: 15px;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.message-item .message-head {

  padding-bottom: 8px;
}
.message-item .message-head .avatar {
  margin-right: 20px;
}
.message-item .message-head .user-detail {
  overflow: hidden;
}
.message-item .message-head .user-detail h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.message-item .message-head .post-meta {
  float: left;
  padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
  color: #333;
  font-weight: bold;
  text-align: right;
}
.post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
.message-item .message-head .post-meta >div {
  color: #333;
  font-weight: bold;
  text-align: right;
}
.post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
.asker-meta {
  text-align: left!important;
}

/********************************/
/*            Footer            */
/********************************/
footer{
  background: $black;
  color: white;
  padding: 10px;
  margin-top: 30px;
  font-size: 12px;
  float: left;
  width: 100%;
}