<html>
  <title>Movies Series Email</title>
  <head></head>
  <body style='background: #f5f5f5; font-family: arial; color:#444;'>
    <div style='background: #f5f5f5; float:left; width:100%;'>
      <div style='width:600px; margin-right: auto; margin-left: auto;margin-top:40px;margin-bottom:40px;'>
        <div style='background:#043c5f;width:100%;color:#f5f5f5;text-align:center;padding:0px;float:left;font-size:28px;'>
          <%= image_tag "logo6.png"%>
        </div>
        <div style='background:white;width:100%;min-height:300px;float:left;margin-bottm:50px;'>
          <div style='padding-left: 15px; padding-right: 15px'>
            <p>
              <h1 style="font-size: 18px; font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
              Hello <%= @resource.email %>!, you has requested a link to change your password. You can do this through the link below.
            </h1>
            <p style="font-size: 16px; line-height: 22px; font-family: Arial; color: #333; margin: 0px;">
              <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
              <br><br>

              If you do not feel it at Mamorae registered email, please disregard this message. Reviews Your password will not change until you access the link below and create a new password. <br>Thank you
            </p>
            </p>
          </div>
        </div>
        <div style='background:#043c5f;width:100%; padding:15px 0; color:#fff; text-align:center; float:left'>www.sovies-series.com</div>
      </div>
    </div>
  </body>
</html>
