<html>
  <title>Movies Series Email</title>
  <head></head>
  <body style='background: #f5f5f5; font-family: arial; color:#444;'>
    <div style='background: #f5f5f5; float:left; width:100%;'>
      <div style='width:600px; margin-right: auto; margin-left: auto;margin-top:40px;margin-bottom:40px;'>
        <div style='background:#043c5f;width:100%;color:#f5f5f5;text-align:center;padding:0px;float:left;font-size:28px;'>
          <%= image_tag "logo6.png"%>
        </div>
        <div style='background:white;width:100%;min-height:300px;float:left;margin-bottm:50px;'>
          <div style='padding-left: 15px; padding-right: 15px'>
            <p>Hello <%= @resource.email %>!</p>
            <p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>
            <p>Click the link below to unlock your account:</p>
            <p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
          </div>
        </div>
        <div style='background:#043c5f;width:100%; padding:15px 0; color:#fff; text-align:center; float:left'>www.sovies-series.com</div>
      </div>
    </div>
  </body>
</html>
