.col-md-9
  - if @latest_videos.present?
    = react_component 'BannerCover', {title: "More than #{@all_videos} videos here", h3: 'MOVIES UPDATE', url_image: image_url('cover-banner-movies.jpg'), link: results_videos_url}
    .ads-google
      / home-bar-1
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "5550000542", :style => "display:block"}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});

    .content
      = react_component 'Latestvideos', { latest_videos: @latest_videos.map{|v| {label: v.series? && v.episodes.present? ? v.episodes.first.data_new_today? : v.data_new_today?, title: v.title, type_video: v.type_video, kind: v.kind, year: v.year, view_count: v.impressionist_count, cover: v.cover_image.url(:small), link: video_url(v)}}, more_link: results_videos_path(kind: 'Movies'),  count: @latest_videos.size }

  .ads-google
    / home-bar-1
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "8503466941", :style => "display:block"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
    %br
  - if @latest_video_series.present?
    - if @headline_series.present?
      = react_component 'BannerCover', {title: "#{@headline_series.title}", h3: 'ONGOING SERIES UPDATE', url_image: @headline_series.cover_image.url(:large), link: video_path(@headline_series)}
    .fb-like{"data-action" => "like", "data-href" => "#{root_url}", "data-layout" => "standard", "data-show-faces" => "true"}
    .content
      = react_component 'Latestvideos', { latest_videos: @latest_video_series.map{|v| {label: v.series? && v.episodes.present? ? v.episodes.first.data_new_today? : v.data_new_today?, title: v.title, type_video: v.type_video, kind: v.kind, year: v.year, view_count: v.impressionist_count, cover: v.cover_image.url(:small), link: video_url(v), updated_serie_title: v.episodes.first.title, updated_serie_at: "#{time_ago_in_words(v.episodes.first.created_at)} a go"}}, more_link: results_videos_path(kind: 'Series'),  count: @latest_video_series.size }

.col-md-3
  .ads-google
    %a{:href => "http://yuk.bi/t24b8d"}
      %img{:src => "https://store.yukbisnis.com/smallphoto/paket-seo-toko-online-preview.jpg"}/
  = react_component 'PopularVideos', {popular_videos: @popular_videos.map{|v| {title: v.title, updated_serie_title: v.try(:episodes).try(:first).try(:title), type_video: v.type_video, kind: v.kind, count: v.impressionist_count, cover: v.cover_image.url(:small), link: video_url(v) }}}
  = react_component 'FeaturedVideos', {featured_videos: @featured_videos.map{|v| {title: v.title, updated_serie_title: v.try(:episodes).try(:first).try(:title), type_video: v.type_video, kind: v.kind, count: v.impressionist_count, cover: v.cover_image.url(:small), link: video_url(v) }}}
  .ads-google
    %a{:href => "http://yuk.bi/t24b8b"}
      %img{:src => "https://store.yukbisnis.com/smallphoto/british-propolis-preview.png"}/
  .ads-google
    / home-side-right-1
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8140461930329474", "data-ad-format" => "auto", "data-ad-slot" => "5270798940", :style => "display:block"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
