%aside.main-sidebar
  %section.sidebar
    .user-panel
      .pull-left.image
        = image_tag current_user.avatar.url(:thumb), class: 'img-circle'
      .pull-left.info
        %p #{current_user.username}
        %a{:href => "#"}
          %i.fa.fa-circle.text-success
          Online
    %ul.sidebar-menu
      %li.header MENU
      %li.active
        = link_to '<i class="fa fa-link"></i> Dashboard'.html_safe, backend_dashboard_admin_path
      %li{class: "treeview #{active_sidebar?(:admins, :all)}"}
        %a{:href => "#"}
          %i.fa.fa-user-secret
          %span Data Admins
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to 'Input Data Admin'.html_safe, new_backend_admin_path
          %li
            = link_to 'List Admins', backend_admins_path
      %li{class: "treeview #{active_sidebar?(:members, :all)}"}
        %a{:href => "#"}
          %i.fa.fa-users
          %span Data Members
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to 'Input Data Member'.html_safe, new_backend_member_path
          %li
            = link_to 'List Members', backend_members_path
      %li{class: "treeview #{active_sidebar?(:videos, :all)}"}
        %a{:href => "#"}
          %i.fa.fa-film
          %span Data Videos
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to 'Input Data Video'.html_safe, new_backend_video_path
          %li
            = link_to 'List Videos', backend_videos_path
          %li
            = link_to 'Category Videos', backend_category_videos_path
      %li{class: "#{active_sidebar?(:web_settings, :all)}"}
        = link_to '<i class="fa fa-wrench"></i>Web Settings'.html_safe, backend_web_settings_path

