%body
  %header.main-header
    %a.logo{:href => backend_dashboard_admin_path}
      %span.logo-mini
        %b> A
        LT
      %span.logo-lg
        %b> Admin
        LTE
    %nav.navbar.navbar-static-top{:role => "navigation"}
      %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
        %span.sr-only Toggle navigation
      .navbar-custom-menu
        %ul.nav.navbar-nav
          %li.dropdown.messages-menu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-envelope-o
              %span.label.label-success 4
            %ul.dropdown-menu
              %li.header You have 4 messages
              %li
                %ul.menu
                  %li
                    %a{:href => "#"}
                      .pull-left
                        %img.img-circle{:alt => "User Image", :src => "/assets/user2-160x160.jpg"}/
                      %h4
                        Support Team
                        %small
                          %i.fa.fa-clock-o
                          5 mins
                      %p Why not buy a new awesome theme?
              %li.footer
                %a{:href => "#"} See All Messages
          %li.dropdown.notifications-menu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-bell-o
              %span.label.label-warning 10
            %ul.dropdown-menu
              %li.header You have 10 notifications
              %li
                %ul.menu
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-users.text-aqua
                      5 new members joined today
              %li.footer
                %a{:href => "#"} View all
          %li.dropdown.tasks-menu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-flag-o
              %span.label.label-danger 9
            %ul.dropdown-menu
              %li.header You have 9 tasks
              %li
                %ul.menu
                  %li
                    %a{:href => "#"}
                      %h3
                        Design some buttons
                        %small.pull-right 20%
                      .progress.xs
                        .progress-bar.progress-bar-aqua{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
                          %span.sr-only 20% Complete
              %li.footer
                %a{:href => "#"} View all tasks
          %li.dropdown.user.user-menu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = image_tag current_user.avatar.url(:thumb), class: 'user-image'
              %span.hidden-xs #{current_user.username}
            %ul.dropdown-menu
              %li.user-header
                = image_tag current_user.avatar.url(:thumb), class: 'img-circle'
                %p
                  #{current_user.username} - Admin
                  %small Since #{current_user.created_at}
              %li.user-footer
                .pull-left
                  %a.btn.btn-default.btn-flat{:href => edit_backend_admin_path(current_user)} Edit Account
                .pull-right
                  = link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'btn btn-default btn-flat'
