!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title AdminLTE | Page #{params[:controller].split('/')[1]}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'backend', media: 'all'
    = csrf_meta_tags
  %body{:class => "skin-blue sidebar-mini fixed #{params[:controller].parameterize} #{action_name}"}
    .wrapper
      = render partial: 'layouts/admin_lte_2_header'
      = render partial: 'layouts/admin_lte_2_sidebar'
      .content-wrapper
        %section.content-header
          %h1
            Page #{params[:controller].split('/')[1]}
          %ol.breadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""
        %section.content
          = flash_messages
          = yield
      %footer.main-footer
        %strong
          Copyright AdminLTE © 2015
    = javascript_include_tag 'backend'
