!!!
%html
  %head
    = render 'shareds/meta_global'
    = stylesheet_link_tag    'application', media: 'all'
    = render 'shareds/fb_sdk'
    = csrf_meta_tags 
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}

  %body
    = render 'shareds/nav'
    = flash_messages
    = react_component 'Sidebar', {categories: get_categories.alfa.map{|c| {name: c.name, count: c.videos.actived.size, link: videos_url(category: c), where_cat: c.slug == params[:category]}}, where_year: params[:year]}
    
    .container-dashboard
      = yield
    = react_component 'Footer', {title: "Copyright © 2016 - #{Date.today.strftime("%Y")} Movies-series.com | Portal Video In The World"}

  = javascript_include_tag 'application'
  = render 'shareds/analytic'