!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Zona Film
    = stylesheet_link_tag    'backend'
    = javascript_include_tag 'backend'
    = csrf_meta_tags 

  %body
    = flash_messages
    = yield