!!!
%html
  %head
    = render 'shareds/meta_global'
    = stylesheet_link_tag    'application', media: 'all'
    = render 'shareds/fb_sdk'
    = csrf_meta_tags 

  %body.devise-body
    .container
      = flash_messages
      = yield
  = javascript_include_tag 'application'
  = render 'shareds/analytic'
