!!!
%html
  %head
    = render 'shareds/meta_global'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags 

  %body
    = render 'shareds/nav'
    = flash_messages
    .section-sidebar-menu
      = render 'shareds/side_nav'
    .container-dashboard
      .col-md-9
        .row
          = render 'userpage/shareds/header'
          = yield
      = render 'userpage/shareds/sidebar'
    = render 'shareds/footer'
  = javascript_include_tag 'application'
  = render 'shareds/analytic'