.col-md-12
  .headline{style: 'height: 200px'}
    = image_tag 'http://top10photos.com/wp-content/uploads/2014/12/Top-10-Action-Movies-In-2014-2015.jpg'
    .title-content
      = link_to "<h1>#{current_user.try(:profile).try(:first_name)} #{current_user.try(:profile).try(:last_name)}</h1>".html_safe, '#'
      %h3 Welcome to #{current_user.username} !
  .content-title.header-user-page
    %span
      %i.fa.fa-eye 
      #{current_user.impressionist_count} Views

    %span.pull-right
      List Movies: <i class="fa fa-film" aria-hidden="true"></i> #{@count_videos.size} Movies
    %hr
      = link_to '<i class="fa fa-globe" aria-hidden="true"></i> Dashboard'.html_safe, userpage_dashboard_path, class: "share #{active_sidebar?(:home, :all)}"
      = link_to '<i class="fa fa-heart" aria-hidden="true"></i> Whishlists'.html_safe, userpage_wishlists_path, class: "share #{active_sidebar?(:wishlists, :all)}"
      - if current_user.verified?
        = link_to '<i class="fa fa-film" aria-hidden="true"></i> My Videos'.html_safe, userpage_videos_path, class: "share #{active_sidebar?(:videos, :all)}"
      = link_to '<i class="fa fa-gear" aria-hidden="true"></i> Settings'.html_safe, edit_userpage_member_path(current_user), class: "share #{active_sidebar?(:members, :all)}"
      = link_to '<i class="fa fa-share fa-1" aria-hidden="true"></i> SignOut'.html_safe, destroy_user_session_path, method: 'delete', class: 'share'