.col-md-3
  %h4.titleize POPULAR
  %ul.latest-list
    - @popular_videos.each_with_index do |v, index|
      %li
        = link_to video_path(v) do
          .cover
            = image_tag v.cover_image.url(:small)
          .category #{v.type_video.titleize if v.type_video.present?}
          .title #{v.title}
          %small.view-eye
            %i.fa.fa-eye
            #{v.impressionist_count} Views